<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>remoteAccessConsumerKey</key>
		<string>
			3MVG9duA.sPEm7m9au360u.FrtYhhL8mTV8gh3uHLEYeM1HUEuSHMapBvv10NbqA49GdGZ3GPdL9r90eZkYm_</string>
		<key>oauthRedirectURI</key>
		<string>testsfdc:///mobilesdk/detect/oauth/done</string>
		<key>oauthScopes</key>
		<array>
			<string>web</string>
			<string>api</string>
		</array>
		<key>shouldAuthenticate</key>
		<true />
	</dict>
</plist>